body * { font-family: Roboto, Helvetica, Arial, sans-serif !important }

header {
    background-color: #2962ff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    height: 62px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8
}

#top-logo {
    background-image: url(../images/google_logo.svg);
    background-repeat: no-repeat;
    background-size: 100px auto;
    float: left;
    height: 35px;
    margin-left: 40px;
    width: 100px
}

#top-actions {
    float: right;
    margin-top: 2px
}

.input-actions {
    background-image: url("../images/search.svg");
    background-size: 24px auto;
    height: 24px;
    margin-left: 6px;
    position: absolute;
    top: 20px;
    width: 24px;
}

.chat-ico { background-image: url(../images/chat_bubble_outline.svg) }

.app-ico { background-image: url(../images/apps.svg) }

.notification-ico { background-image: url(../images/notifications_none.svg) }

.top-buttons {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    float: right;
    height: 30px;
    margin-right: 18px;
    width: 30px
}

#top-content {
    background-image: url(../images/top-image.jpg);
    background-position: left 0;
    height: 257px
}

#top-content-mask {
    background-color: #5162d3;
    height: 257px;
    opacity: .79;
    position: absolute;
    top: 62px;
    width: 100%
}

body {
    background: #F5F5F5;
    color: #455A64;
    padding-top: 62px
}

#app-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    max-width: initial;
    position: absolute;
    width: 100%;
}

#mail-content {
    min-width: 855px;
    padding: 0 40px;
    position: absolute;
    right: 0;
}


#left-menu {
    min-width: 395px;
}

#mails {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 0 0 10px
}

#foot-info {
    color: #919ea4;
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 25px;
    padding: 0;
}

#foot-info .large-4.columns { padding: 0 }

#space-button {
    float: right;
    font-size: 14px;
    margin-top: 1px;
    text-transform: uppercase
}

.mail {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 0 0 23px
}

.selected-mail { color: #90a4ae }

.mail-items {
    border-bottom: thin solid #eceff1;
    margin-left: 23px;
    padding-bottom: 3px
}

.mail-items div.mail-status:last-child {
    float: right;
    margin: 0 20px 0 0;
    text-align: right;
}

#mail-content div.mail:last-child .mail-items { border-bottom: none }

.mail-items > div { float: left }

.mail-preview {
    font-size: 14px;
    max-height: 68px;
    max-width: 65%;
    overflow: hidden
}

.mail-status {
    font-size: 14px;
    height: 72px;
    margin-left: 50px;
    padding-top: 1px
}

.user-send {
    font-size: 15px;
    font-weight: 600
}

.send-detail {
    align-items: center;
    background: #eceff1;
    border-radius: 50%;
    display: flex;
    font-size: 13px;
    height: 20px;
    justify-content: center;
    width: 20px
}

.bottom-status {
    bottom: -20px;
    position: relative
}

.mail-checker {
    background-size: 21px auto;
    height: 20px;
    width: 20px
}

.star-mark { background-image: url(../images/star.svg) }

.label-mark { background-image: url(../images/label.svg) }

.star-mark-border { background-image: url(../images/star_border.svg) }

.label-mark-outline { background-image: url(../images/label_outline.svg) }

.attach {
    background-color: #fff !important;
    background-image: url(../images/attachment.svg);
    background-size: 21px auto
}

.tabs-title a span {
    background-position: center center;
    background-size: 22px auto;
    display: block;
    float: left;
    height: 22px;
    top: 0;
    width: 22px;
}

.primary-tab-ico { background-image: url(../images/move_to_inbox_gray.svg) }

.social-tab-ico { background-image: url(../images/group_gray.svg) }

.promotion-tab-ico { background-image: url(../images/local_offer_gray.svg) }

.updates-tab-ico { background-image: url(../images/info_gray.svg) }

.forum-tab-ico { background-image: url(../images/forum_gray.svg) }

.circle {
    align-items: center;
    background: #ea80fc none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 23px;
    font-weight: 100;
    height: 55px;
    justify-content: center;
    padding: 0 22px;
    width: 55px;
}

.avatar {
    background-position: center center;
    background-size: 55px auto;
    height: 55px;
    width: 55px
}

.av_a { background-image: url(../images/av_1.png) }

.av_b { background-image: url(../images/av_2.png) }

.av_c { background-image: url(../images/av_3.png) }

#profile-content {
    height: 140px;
    margin-bottom: 10px;
    margin-top: 60px;
    padding-left: 35px;
}

#user-name {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
    text-transform: capitalize;
}

#user-button {
    font-weight: 400;
    padding-top: 8px;
}

#avatar-picture {
    background-image: url("../images/av_0.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 105px auto;
    border-radius: 50%;
    float: left;
    height: 100px;
    margin-right: 20px;
    width: 100px;
}

.add-ico { background-image: url(../images/add_white.svg); }

#left-menu li {
    align-items: center;
    display: flex;
    font-size: 17px;
    height: 60px;
    list-style: none none;
    padding-left: 10px;
    padding-right: 50px
}

.menu-image {
    height: 25px;
    margin-right: 35px;
    width: 30px
}

.menu-action {
    border-bottom: thin solid #e2e6e8;
    height: 100%;
    padding: 15px 0;
    width: 100%
}

.new-items { font-weight: 600 }

.menu-tag {
    float: right;
    margin-right: 5px
}

.inbox-ico { background-image: url(../images/move_to_inbox.svg) }

.starred-ico { background-image: url(../images/star_rate.svg) }

.important-ico { background-image: url(../images/important.svg) }

.sent-ico { background-image: url(../images/send.svg) }

.draft-ico { background-image: url(../images/drafts.svg) }

.spam-ico { background-image: url(../images/spam.svg) }

.trash-ico { background-image: url(../images/trash.svg) }

.circle-ico { background-image: url(../images/circle.svg) }

#others-functions {
    margin-left: 25px;
    margin-top: 50px;
    padding-bottom: 16px
}

.block {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    float: left;
    font-size: 12px;
    height: 98px;
    line-height: 14px;
    margin-right: 15px;
    text-align: center;
    width: 98px
}

.block > span {
    display: block;
    padding-top: 5px
}

.back-function {
    background-color: #2962ff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    height: 60px
}

.hangout-ico { background-image: url(../images/hangout.svg) }

.chat-bubble-ico { background-image: url(../images/chat_bubble.svg) }

.phone-ico { background-image: url(../images/phone.svg) }

#top-buttons, .top-group { padding: 0; }

.top-group { margin-bottom: 30px; }

a span {
    background-repeat: no-repeat;
    background-size: 24px auto;
    display: block;
    height: 24px;
    width: 24px;
}

#top-buttons .top-group div { padding: 0; }

.button-detail {
    color: #ccd8f7;
    margin-top: 5px;
}

.small-button { padding: 3px 8px !important; }

.check-ico { background-image: url(../images/check_box_outline.svg); }

.more-ico { background-image: url(../images/more_horiz.svg); }

.refrehs-ico { background-image: url(../images/refresh.svg); }

.draft-white-ico { background-image: url(../images/drafts_white.svg); }

.arrow-down-ico { background-image: url(../images/arrow_drop.svg); }

.arrow-back-ico { background-image: url(../images/arrow_back.svg); }

.arrow-forward-ico { background-image: url(../images/arrow_forward.svg); }

.arrow-settings-ico { background-image: url(../images/settings.svg); }